<%- include("./partials/header.ejs") %>
<body class="aoide">

		<div class="loader">
			<div class="loader__figure"></div>
		</div>
  
		<main>
	
			<!-- Nav and Logo
			================================================== -->
			
			<a href="/">
				<% if (frontData.Logo) { %>
            		<div class="logo">
            		    <img src="<%= frontData.Logo %>" >
            		</div>
            	<% } %>
			</a>
			
			<a href="#ticket-wrap" class="ticket-link">
				<div class="ticket">
					<p>157 seats left</p>
					<div class="pulse">
						<svg version="1.1" id="svg-ticket" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						width="36px" height="36px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
							<path fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" d="M1,21c0,20,31,38,31,38s31-18,31-38
										c0-8.285-6-16-15-16c-8.285,0-16,5.715-16,14c0-8.285-7.715-14-16-14C7,5,1,12.715,1,21z"/>					
						</svg>
					</div>
				</div>
			</a>
			<div id="ticket-wrap">
				<p>
					one-day ticket <em>.........................</em> <span>$37</span><br>
					two-days ticket <em>.....................</em> <span>$70</span><br>
					three-days ticket <em>................</em> <span>$100</span><br>
					four-days ticket <em>.................</em> <span>$125</span>
				</p>

				<% if (!isAuthenticated) { %>
        		  <a href="/auth/login" class="btn btn-outline-primary btn-lg">Login</a>
        		<% } else { %>
        		  <a href="/user/dashboard" class="btn btn-primary btn-lg">Go to Dashboard</a>
        		<% } %>
			</div>
			
			<%- include("./partials/Heropage.ejs") %>
			<!-- Primary Page Layout
			================================================== -->
	
			<div class="content content--reveal">

				<%- include("./partials/guest.ejs") %>
				<%- include("./partials/event.ejs") %>
				<%- include("./partials/Gallery-&-events.ejs") %>
				<%- include("./partials/tickit-validation.ejs") %>
				<%- include("./partials/contact.ejs") %>
				
				
				
				
				
				<button class="content__close"></button>
			</div>
			
			<div class="location-fixed">
				<% if (menuSettings.address_status && frontData.office_location) { %>
            	<p><%= frontData.office_location %></p>
            	<% } %>
				
			</div>
			
			

			<div class="social-fixed">
				<% if (menuSettings.fb_status && frontData.soc_fb) { %>
            	<a href="<%= frontData.soc_fb %>">facebook</a>
            	<% } %>
					
            	<% if (menuSettings.insta_status && frontData.soc_insta) { %>
            		<a href="<%= frontData.soc_insta %>">Instagram</a>
            	<% } %>
				
            	<% if (menuSettings.youtube_status && frontData.soc_youtube) { %>
            		<a href="<%= frontData.soc_youtube %>">Youtube</a>
            	<% } %>
				
			</div>
			
		</main>
		
		



	
	<!-- JAVASCRIPT
    ================================================== -->
	<script src="/frontend/js/jquery.min.js"></script>
	<script src="/frontend/js/popper.min.js"></script> 
	<script src="/frontend/js/bootstrap.min.js"></script>
	<script src="/frontend/js/plugins.js"></script> 
	<script src="/frontend/js/gradient-animation.js"></script> 
	<script src="/frontend/js/contact.js"></script>
	<script src="/frontend/js/custom.js"></script>  
<!-- End Document
================================================== -->
</body>
</html>